@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

:root{
  --site-black:#2b2b2b;
  --site-medium-black:#2b2b2b;
  --site-light-black: #373737;
  --site-white:#fff;
  --light-grey:#f4f4f4;
  --dark-grey:#A9A9A9;
  --box-shadow-grey:#c8c8c8;
  --darkest-grey:#848484;
  --year-grey:#989984;
  --site-red:#b5262f;
  --correct-green:#2ba646;
  --incorrect-red:#e21724; 
}

/*page container for about us page*/
.about-us-container{
  max-width: 75%;
  margin:0 auto;
}

.about-us-content{
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.about-us-content p{
  line-height: 2.3rem;
  letter-spacing: .02rem;
}







